/*ОБЩЕЕ*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf"),
  url("../fonts/OpenSans-Regular.woff") format("woff"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf"),
  url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

*:focus {
  border: none;
  outline: none;
}

header,
body,
main,
aside,
input,
h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*HEADER*/
.main__head {
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.main__head::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  max-width: 1220px;
  margin: auto;
  padding-top: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__logo {
  width: 179px;
}

.head__hamburger {
  display: none;
}


.head__menu {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
}

.head__menu__item:nth-child(n + 2) {
  padding-left: 35px;
}

.head__menu__item:hover {
  text-decoration: underline;
}

.head__tittle {
  display: flex;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  max-width: 679px;
  margin: auto;
  padding: 104px 0;
}

/*TRENDS*/
.trend__tittle {
  margin-top: 60px;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.trend__tittle:hover {
  color: #b59f5b;
}

.trend__tittle:after {
  content: "";
  width: 66px;
  border: 2px solid rgba(181, 159, 91, 0.4);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}

.trend__list {
  margin-top: 30px;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  max-width: 1660px;
 
}

.trend__item {
  width: calc(1660px/4);
  min-height: 320px;
  display: flex;
  position: relative;
  align-items: flex-end;
  z-index: 0;
}

.trend__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.trend__item:nth-child(n + 2) {
  margin-left: 5px;
}

.garden {
  background-image: url(../img/trend1.jpg);
  background-repeat: no-repeat;
  background-color: #eff6f1;
  background-position: center;
  background-size: cover;
}

.cheese {
  background-image: url(../img/trend2.jpg);
  background-repeat: no-repeat;
  background-color: #eff6f1;
  background-position: center;
  background-size: cover;
}

.hike {
  background-image: url(../img/trend3.jpg);
  background-repeat: no-repeat;
  background-color: #eff6f1;
  background-position: center;
  background-size: cover;
}

.lemon {
  background-image: url(../img/trend4.jpg);
  background-repeat: no-repeat;
  background-color: #eff6f1;
  background-position: center;
  background-size: cover;
}

.trend__text {
  text-transform: uppercase;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  border: 3px solid #b59f5b;
  margin: auto 20px 10px 20px;
  padding: 36px 30px 0px 33px;
}

.trend__text__tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #b59f5b;
}

.trend__text__tags__item {
  padding-right: 19px;
}

.trend__text__tags__item:hover {
  text-decoration: underline;
}

.trend__text__tittle {
  font-size: 20px;
  color: #ffffff;
  line-height: 24px;
}

.trend__text__tittle:hover {
  color: #b59f5b;
}

/*MAIN+ASIDE*/
.contain {
  display: flex;
  margin: auto;
  max-width: 1220px;
  justify-content: space-between;
}

/*MAIN*/
.articles {
  max-width: 784px;
}

.article {
  display: flex;
  align-items: flex-start;
}

.article:nth-child(n + 2) {
  margin-top: 58px;
}

.article__image {
  min-width: 381px;
  background-color: #f4f7f6;
}

.article__text {
  text-transform: uppercase;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  padding-left: 29px;
}

.article__text__tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #b59f5b;
}

.article__text__tags__item {
  padding-right: 19px;
}

.article__text__tags__item:hover {
  text-decoration: underline;
}

.article__text__tittle {
  font-size: 20px;
  color: #0f0d0e;
  line-height: 24px;
  padding-top: 14px;
}

.article__text__tittle:hover {
  color: #b59f5b;
}

.article__create {
  font-size: 12px;
  text-transform: none;
  margin-top: 34px;
  display: flex;
}

.article__date {
  font-family: "OpenSans-Regular", sans-serif;
  color: #888888;
  padding-right: 15px;
}

.article__author {
  color: #000000;
}

.article__description {
  margin-top: 58px;
  width: 367px;
  font-family: "OpenSans-Regular", Arial, sans-serif;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 22px;
  text-transform: none;
}

/*ASIDE*/
aside {
  max-width: 270px;
}

.posts {
  text-transform: uppercase;
}

.posts__tittle {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #0f0d0e;
}

.posts__tittle::after {
  content: "";
  width: 66px;
  border: 2px solid rgba(181, 159, 91, 0.4);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}

.post {
  display: flex;
  align-items: flex-start;
}

.post:nth-child(n + 2) {
  padding-top: 22px;
}

.post__text {
  padding-left: 18px;
  vertical-align: top;
}

.post__date {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  opacity: 0.541;
  font-size: 12px;
  color: #000000;
  text-transform: none;
}

.post__tittle {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.post__tittle:hover {
  color: #b59f5b;
}

.post__image {
  max-width: 70px;
  background-color: #f4f7f6;
}

.search {
  margin-top: 51px;
}

.search__form {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search__add {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
  font-family: "OpenSans-Regular", Arial, sans-serif;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  padding: 18px 0px 20px 18px;
}

.search__add:focus {
  border: 1px solid #b59f5b;
}

.search__btn {
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  flex-shrink: 0;
}

.search__img {
  width: 18px;
  height: 18px;
}

.search__btn:hover {
  background-color: #323232;
  cursor: pointer;
}

.subscribe {
  margin-top: 61px;
}

.subscribe__tittle {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin-bottom: 39px;
  text-align: center;
}

.subscribe__tittle::after {
  content: "";
  width: 66px;
  border: 2px solid rgba(181, 159, 91, 0.4);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}

.subscribe__input {
  width: 100%;
  height: 48px;
  border: none;
  box-sizing: border-box;
  background-color: #f4f7f6;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  opacity: 0.541;
  margin-bottom: 16px;
  padding: 18px 0px 20px 18px;
}

.subscribe__input:focus {
  border: 1px solid #b59f5b;
}

.subscribe__btn {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__btn:hover {
  background-color: #323232;
  cursor: pointer;
}

.tag {
  margin-top: 60px;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
}

.tag__tittle {
  font-size: 14px;
  text-align: center;
}

.tag__tittle::after {
  content: "";
  width: 66px;
  border: 2px solid rgba(181, 159, 91, 0.4);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}

.tag__list {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
}

.tag__list__item {
  font-size: 12px;
  border: 3px solid #eeeeee;
  padding: 10px;
  text-align: center;
}

.tag__list__item:nth-child(n + 1) {
  margin: 6px 6px 0px 0px;
}

.tag__list__item:hover {
  border: 3px solid #b59f5b;
}

.theme {
  margin-top: 60px;
  font-family: "OpenSans-Bold", sans-serif;
}

.theme__tittle {
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.theme__tittle::after {
  content: "";
  width: 66px;
  border: 2px solid rgba(181, 159, 91, 0.4);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}

.theme__list {
  margin-top: 28px;
}

.theme__list___item {
  font-size: 14px;
  color: #000000;
}

.theme__list___item::after {
  content: "";
  width: 271px;
  border: 1px solid #eeeeee;
  display: flex;
  margin-top: 16px;
  margin-bottom: 20px;
}

.theme__list___item:hover {
  color: #b59f5b;
}

.theme__list___item__small {
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
}

/*GOODS*/
.goods {
  max-width: 1220px;
  margin: 0 auto;
}

.good__list {
  display: flex;
  column-gap: 70px;
 }

.good__item {
  width: calc(1220px/3);
  display: flex;
  flex-direction: column;
}

.good__image {
  max-height: 204px;
  background-color: #eff6f1;
  margin: 25px 0px 0 28px;
  align-items: center;

}


.good__content {
  margin-top: -40px;
  border: 3px solid #b59f5b;
  padding: 20px;
  flex-grow: 1;
}


.good__text__tittle {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  margin-top: 40px;
}

.good__description {
  font-size: 15px;
  line-height: 22px;
  font-family: "OpenSans-Regular", Arial;
}

.link {
  color: #b59f5b;
}

.good__price {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  
}

.price__text {
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSans-Bold";
}

.oldprice {
  font-size: 14px;
  text-decoration: line-through;
}

.curprice {
  font-size: 20px;
}

.curprice__none {
  font-size: 20px;
  margin-top: 14px;
}

.good__btn {
  width: 140px;
  height: 33px;
  background-color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 15px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.good__btn:hover {
  background-color: #323232;
}

/*FOOTER*/
.footer {
  display: block;
}

.social {
  max-width: 1220px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  margin: 60px auto;
}


.social__item {
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.social__item:nth-child(n + 2) {
  margin-left: 30px;
}

.dribble {
  width: 20px;
  height: 20px;
  background-image: url(../svg/001-dribbble.svg);
}

.pinterest {
  width: 16px;
  height: 20px;
  background-image: url(../svg/001-pinterest.svg);
}

.twitter {
  width: 13px;
  height: 20px;
  background-image: url(../svg/004-twitter.svg);
}

.footer_cpr {
  margin: 72px auto;
  font-size: 12px;
  font-family: "OpenSans-Bold", sans serif;
  color: #999999;
  text-align: center;
}

/*POPUP*/
.popup__main {
  
  display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   border: 2px solid black;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
 }

 .popup {
  width: 390px;
  height: 539px;
  padding: 50px 30px;
  position: relative;
  background-color: #fff;
  }

 .popup__close {
  position: absolute;
  right: 5px;
  top: -30px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.popup__tittle {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  text-align: center;
}

.popup__tittle::after {
  content: "";
  width: 66px;
  border: 2px solid rgba(181, 159, 91, 0.4);
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}
 
 .popup__form {
  margin-top: 25px;
 }

 .question {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "OpenSans-Regular";
}


 .select__list {
  display: inline-block;
  width: 100%;
  height: 48px;
  padding-left: 18px;
  border: none;
  background-color: #f3f7f6;
  margin-bottom: 35px;
  cursor: pointer;
  font-size: 13px;
  font-family: "OpenSans-Regular";
  color: rgba(0, 0, 0, 0.541);
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.select__list:focus {
  border: 2px solid #b59f5b;
}


.arrows {
  width: 16px;
  height: 14px;
  position: absolute;
  z-index: 5;
  margin-top: 21px;
  margin-left: -28px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.radio__container {
  display: flex;
  margin-bottom: 20px;
}


.radio__group {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radio__group:nth-child(2n) {
  margin-left: 20px;
}

.radio__svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: 8px;
  border-radius: 8px;
background-color: #ffffff;
border: 1px solid #b59f5b;
}

.checkbox:checked + .checked {
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0.9375em;
}

.radio__text {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
}

.textarea {
  width: 100%;
  height: 131px;
  background-color: #f3f7f6;
  font-family: "OpenSans-Regular";
  color: rgba(0, 0, 0, 0.541);
  padding-left: 18px;
  padding-top: 18px;
  font-size: 14px;
  resize: none;
  outline: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
 }

.textarea:focus {
  border: 1px solid #b59f5b;
}


.button__form {
  display: block;
  margin-top: 30px;
  background-color: #b59f5b;
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button__form:hover {
  background-color: #000000;
}



@media (min-width: 641px) and (max-width: 1199px)  {
  .main__head {
    background-image: url(../img/banner-bg-tablet.jpg);
  }

  .header, .contain {
    max-width: 100%;
  }

.head {
  margin: 10px 34px;
}

 .head__menu {
    display: none;
  }

  .head__hamburger {
    display: block;  

    position: absolute;
    top: 10%;
    right: 15%;
    transform: translate(-50%, -50%);

  }

  .head__tittle {
    font-size: 40px;
  }

.trend__tittle {
  font-size: 18px
}

.trend__item:nth-child(n + 2) {
  margin-left: 0px;
  margin-bottom: 5px;
}

.trend__item:nth-child(odd) {
  margin-bottom: 5px;
}

.trend__list {
  flex-wrap: wrap;
}

.trend__text__tittle {
  font-size: 17px;
}

  .trend__item {
    width: 49%;

  }

  .trend__item:nth-child(even) {
    margin-left: 5px;
  }

  .article {
    flex-direction: column;
  }
  
  .article::after {
    content: "";
    display: block;
    position: relative;
    width: 391px;
    height: 3px;
    background: #eeeeee;
    margin-bottom: 42px;
    margin-top: 15px;
  }

  .article:nth-child(n + 2) {
    margin-top: 0px;
  }

.contain {
  margin-left: 35px;
}

  .article__text {
    width: 391px;
      padding-left: 0;
    }
   
    .article__text__tags {
      padding-top: 15px;
    }
    
    .article__create {
      margin-top: 15px;
    }
  
    .article__description {
      margin-top: 24px;
    }
  aside {
    margin-right: 35px;
    width: 50%;
  }

  .good__list {
    flex-wrap: wrap;
    margin: 0 35px 0 35px;
   justify-content: space-between;

  }

  .good__item {
    width: 43%;
  }

  .good__item:nth-child(n+2) {
    margin-left: 0;
  }

  .good__item:nth-child(even) {
    margin-left: 28px;
  }

.good__image {
  margin: 33px 0px 0 28px;
}

}

.footer_cpr {
  margin: 50px auto;
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
.trend__list {
  flex-wrap: nowrap;
}

  .trend__item {
      width: calc(100%/4);
    }

    .trend__item:nth-child(odd) {
      margin-left: 5px;
    }
    

}

@media (max-width: 640px) {
  .main__head {
    background-image: url(../img/banner-mobile.jpg);
  }


  .head {
    justify-content: flex-end;  
  }

  .head__logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    
  }
  
    .head__menu {
      display: none;
    }
  
    .head__hamburger {
      display: block;    
      margin-right: 15px;
    }
    

.head__tittle {
  font-size: 26px;
  line-height: 36px;
}

  .trend__list {
    display: flex;
    flex-direction: column;
  }

  .trend__item {
    width: 100%;
    margin-bottom: 5px;
  }

  .trend__item:nth-child(n + 2) {
    margin-left: 0;
  }

 
  .trend__tittle {
    font-size: 16px;
  }

   .trend__text__tittle {
    font-size: 16px;
    line-height: 20px;
  }

 .contain {
    max-width: 332px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
          }

.articles {
  margin-right: 15px;
  width: 100%;
}


.article::after {
  content: "";
  display: block;
  position: relative;
  width: 391px;
  height: 3px;
  background: #eeeeee;
  margin-bottom: 42px;
  margin-top: 25px;
}


  .article {
    flex-direction: column;
  }
 
  .article:nth-child(n + 2) {
    margin-top: 0px;
  }


  .article__text {
    padding-left: 0;
  }

  .article__text__tags {
    padding-top: 15px;
    
  }
  
  .article__create {
    margin-top: 15px;
  }

  .article__description {
    margin-top: 24px;
  }

  aside {
    max-width: 100%;
  }

  .posts {
    margin-top: 45px;
  }

  .posts__tittle, .subscribe__tittle, .tag__tittle, .trend__tittle {
    font-size: 16px;
  }

  .goods {
    max-width: 100%;
  }
  
  .good__list {
    flex-wrap: wrap;
    margin: 0 35px 0 35px;
  }
  

  .good__item:nth-child(n + 2) {
    margin-left: 0;
  }

  .good__text__tittle {
    font-size: 17px;
  }


}

@media (max-width: 640px) and (orientation: landscape) {
 .trend__list {
  flex-direction: row;
  flex-wrap: wrap;
 }
 
  .trend__item {
    width: 49%;
  }

  .trend__item:nth-child(odd) {
    margin-right: 5px;
  }
  
}